<!DOCTYPE html>
<html>
    <head>
        <title>Login Registration</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div class='wrapper'>
            <div class='registration'>
                <h2>Registration</h2>
                <form action='/register' method='post'>
                    {% csrf_token %}
                    Name:<input type='text' name='name' value=''>
                    alias:<input type='text' name='alias' value=''>
                    Email:<input type='text' name='email', value="">
                    Password:<input type='password' name='password' value=''>
                    Confirm pw:<input type='password' name='confirm_pw' value=''>
                    Date of Birth:<input type="date" name='date' value=''>
                    <!--<input type="hidden" name="hide" value="Register">-->
                    <input type='submit' name='submit' value='Register'>
                </form>
            </div>

                    <ul class="error">
                    {% for message in messages %}
                    <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>

            <div class='login'>
                <h2>Login</h2>
                 <!--{% for message in messages %}
                    <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
                    {% endfor %}-->
                <form action='/login' method='post'>
                {% csrf_token %}
                
                Email:<input type='text' name='email' value=''>
                Password: <input type='password' name='password' value=''>
                <!--<input type="hidden" name="hide" value="Login">-->
                <input type='submit' name='submit' value='Login'>
                </form>
            </div>
        </div>
    </body>
</html>